/********Ask modal*******/
.darking-thing {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 990;
}

.ask-modal {
    display: none;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    z-index: 999;
}

.ask-modal header {
    display: block;
    padding-top: 15px;
    padding-bottom: 10px;
    border: lightgray solid;
    border-width: 0 0 2px 0;
    text-align: center;
    font-size: 20px;
}

.ask-modal section {
    display: block;
    width: 100%;
    padding: 15px 30px;
}

.ask-modal textarea {
    resize: none;
}

.ask-modal footer {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding-top: 7px;
    border: lightgray solid;
    border-width: 2px 0 0 0;
}

.ask-modal {
    text-align: left !important;
}

.ask-modal .ask-buttons {
    float: right;
    margin-right: 15px !important;
}

.ask-modal .ask-buttons button {
}

.modal-close-button {
    position: absolute !important;
    right: 7px;
    top: 5px !important;
    opacity: 0.5;
}

.modal-close-button:hover {
    cursor: pointer;
}

.allTagsBlock {
    position: relative;
    left: -20px;
}

#allTags {
    z-index: 1000;
    font-size: 14px !important;
    font-family: inherit !important;
}

#allTags .tagit-choice {
    background: #fbeed5/*{bgColorDefault} url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
    border-radius: 100px;
}

#allTags .tagit-choice:hover {
    background: #f6ea94/*{bgColorDefault} url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}

#allTags {
    border: 1px solid #cccccc !important;
}

#allTags .tagit-close {
    display: inline;
}

#allTags .text-icon {
    display: inline;
}

#allTags .ui-icon-close {
    margin-top: -15px;
}

.ui-widget input {
    font-family: inherit !important;
}

.ui-autocomplete {
    z-index: 1000 !important;
}

.ask_form_error_message {
    text-align: center;
    color: #bc3331;
    padding-bottom: 5px;
}