/*******Feed*******/

#feed {
    width: 77%;
    float: left;
    margin-left: 10px;
    margin-right: 19px;
    padding-bottom: 5%;
}

#feed-header {

}

.qtitle {
    font-weight: bold;
    font-size: 25px !important;
    padding-bottom: 10px;
    color: darkblue !important;
}

#answers {
    border: 0 !important;
}

.question-contents {
    font-size: 16px;
    margin-bottom: 10px;
}

.answers-title {
    margin-top: 50px;
    font-size: 20px;
}

.answer-contents {
    font-size: 15px;
}

.answer-form-block {
    margin-top: 20px;
}

.answer-form-block header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}



#questions, #answers, #users, #graphs {
    padding: 10px;
    background-color: white;
    border: lightgray solid;
    border-width: 0 1px 1px 1px;
}


.graph-page {
    border-width: 1px !important;
    margin-top: 42px;
}

.content-block {
    width: 100%;
    height: 100%;
    padding: 10px 0 5px 0;
    border: solid lightgray;
    border-width: 0 0 1px 0;
}

.content-block:hover {
    background-color: #f6f6f6;
}

.content-block.disable-hover:hover {
    background-color: #ffffff;
}

.side-info {
    display: inline-block;
    width: 12%;
    height: 100%;
    line-height: 70px;
    vertical-align: top;
}

.counter {
    float: right;
    position: relative;
    margin-left: 0;
}

.counter .rating {
    display: inline-block;
    position: relative;
    top: -6px;
    margin-left: 4px;
    padding: 0 5px;
    font-size: 19px;
}

.extra-big {
    background-color: #ffc1b4;
    border-radius: 5px 0 5px 0;
}

.counter .rating-buttons {
    display: inline-block;
    position: relative;
    top: 2px;
    right: 0;
}

.green-rating-button {
    color: limegreen;
}

.red-rating-button {
    color: red;
}

.counter .rating-buttons a {
    color: dimgrey;
    text-decoration: none;
}

.counter .rating-buttons a:hover {
    color: black;
}

.counter .rating-button {
    display: block;
    width: 15px;
    margin-bottom: 4px;
}

.up-button {
    padding-left: 1px;
}

.correctness {
    width: 35px;
    height: 40px;

    position: relative;
    left: -40px;
    top: 8px;

    background-image: url("../img/correct.gif");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: none;
    opacity: 0.2;
}

.correct {
    display: block;
    opacity: 1.0;
}

.ratable {
    display: block;

    cursor: pointer;
}

.tags-section {
    display: inline-block;
    height: auto;
}

.tags {
    display: inline;
}

.tag {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    background-color: #fbeed5;
    border-radius: 100px;
    color: black;
}

.tag:hover {
    background-color: #f6ea94;
    cursor: pointer;
}


.author-section {
    display: inline-block;
    float: right;
    margin-right: -40px;
}

.author-section a {
    color:grey;
}

.author-section div {
    display: inline;
    color: grey;
    font-size: 12px;
}





.question-info, .answer-info, .user-info {
    width: 79%;
    display: inline-block;
    padding-left: 1em;
}

.question-title, .user_info-title {
    font-size: 20px;
}

.question-title a, .user_info-title a {
    color: darkblue;
}

.actions-menu   {
    padding: 0;
}

.actions-menu ul {
    padding: 0;
}

.actions-menu li {
    display: inline;
    padding-left: 4px;
    padding-right: 8px;
    border-right: 1px grey solid;
}

.actions-menu li:first-child {
    padding-left: 0;
}

.actions-menu li:last-child {
    border-right: 0;
}

.actions-menu a {

}


#paginator {

}

.res-title {
    margin-top: 10px;
    margin-bottom: 12px;
    padding-bottom: 5px;
    font-size: 25px;
    border: solid #d3d3d3;
    border-width: 0 0 1px 0;
}


.search-hit {
    background-color: #6e85ee;
}

.nothing_found_msg {
    margin: 30px;
    font-size: 18px;
}

.questions-refresher {
    cursor: pointer;
    height: 50px;
    line-height: 30px;
    background-color: #fafafa;
    border-top-width: 1px;
}

.new-questions-block {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.new-questions-msg {
    display: inline;

}

.questions-refresh {
    color: #3ec22e;
    margin-right: 7px;
}

.hidden-block {
    display: none;
}

#tag_chart {
    height: 400px;
}