.logged_out_message {
    font-size: 16px;
    margin-top: 20px;
}

.login-page {
    margin-top: 25px;
    margin-left: 40px;
}

.login-page form {
    padding-left: 25%;
    border: lightgray solid 1px;
}

.login-form {
    margin: 0 auto;
    padding-right: 1%;

}

.form_error_message {
    text-align: left;
    color: #bc3331;
    padding-bottom: 15px;
    font-size: 16px;
}

.error_message {
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
    color: #bc3331;
}

