.logged_out_message {
    font-size: 16px;
    margin-top: 20px;
}

.login-reg-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.login-form {
    float: left;
    width: 40%;
    margin: 0 auto;
    padding-right: 1%;
    border: solid #d3d3d3;
    border-width: 0 1px 0 0;
}

.reg-form {
    float: left;
    padding-left: 1%;
    width: 50%;
}

