{% if show_title %}
    <div class="res-title">
        {{ title }}
    </div>
{% endif %}

{% include "new_popular_tabs.html" %}
<div id="questions">

    {% if search and not res %}
        <div class="nothing_found_msg">Nothing found on this query. Try again.</div>
    {% else %}

    {% for answer in res %}
        <section class="answer content-block" data-id="{{ answer.id }}">
            <div class="side-info">
                <div class="counter">
                    <div class="rating">{{ answer.rating }}</div>
                    <div class="rating-buttons">
                        <a href="#"><div class="glyphicon glyphicon-chevron-up rating-button up-button"></div></a>
                        <a href="#"><div class="glyphicon glyphicon-chevron-down rating-button down-button"></div></a>
                    </div>
                </div>
            </div>

            <div class="answer-info">
                <div class="answer-portion">
                    <a href="/question/{{ answer.question_id }}#answer_{{ answer.id }}">{{ answer.contents | slice:":180" }}...</a>
                </div>

                <div class="question-part">
                    <span class="question-title dash-thing"><a href="/question/{{ answer.question.id }}">&raquo;</a></span>
                    <div class="question-title small"><a href="/question/{{ answer.question.id }}">{{ answer.question.title }}</a></div>
                    <div class="tags-section answers-tags">
                        <i class="glyphicon glyphicon-tags"></i>
                        <div class="tags">
                            {% for tag in answer.question.tag.all %}
                                <span class="tag" onclick="document.location.href='/tag/{{ tag.tagname }}'">{{ tag.tagname }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="author-section author-answers">
                    <div class="post-time">{{ answer.date }}</div>
                    <div class="user-name">by <a href="/users/{{ answer.author.username }}">{{ answer.author }}</a></div>
                </div>
            </div>
        </section>
    {% endfor %}

    {% include "paginator.html" %}

    {% endif %}


</div>