<div class="darking-thing">&nbsp;</div>
<div class="my-modal"></div>

<div class="ask-modal my-modal">
    <form id="ask-form" class="form-horizontal" method="POST" action="">
        <fieldset>
            <header>
                <span>Ask the question</span>
                <div class="modal-close-button glyphicon glyphicon-remove-circle"></div>
            </header>
            <section>
                {% csrf_token %}

                <div class="ask_form_error_message">
                    {% if ask_form.title.errors or ask_form.contents.errors %}
                        Some fields are required.
                    {% endif %}
                </div>

                {% if ask_form.title.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="id_title" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        {{ ask_form.title }}
                    </div>
                </div>
                {% if ask_form.contents.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="id_contents" class="col-lg-2 control-label">Contents</label>
                    <div class="col-lg-10">
                        {{ ask_form.contents }}
                    </div>
                </div>
                {% if ask_form.tags.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="allTags" class="col-lg-2 control-label">Tags</label>
                    <div class="col-lg-10">
                        <ul id="allTags"></ul>
                        {{ ask_form.tags }}
                    </div>

                </div>
            </section>
            <footer>
                <input type="hidden" name="form_type" value="ask">
                <div class="form-group ask-buttons">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success">Ask</button>
                </div>
            </footer>
        </fieldset>
    </form>
</div>