<!DOCTYPE html>
<html>
    <head>
        <title>Ask igorcoding</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/answers.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/tag-it/jquery.tagit.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery-2.0.3.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/tag-it.js" %}"></script>
        <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

        <meta content="text/html" >

    </head>

    <body>

        <header id="page_header">
            <div id="page_title">
                <a href="#">Ask igorcoding!</a>
            </div>

            <nav>
                <ul>
                    <li><a href="/">Questions</a></li>
                    <li><a href="/answers/">Answers</a></li>
                    <li><a href="/users/">Users</a></li>
                </ul>
            </nav>

            {% if user.is_authenticated %}
            <div id="logout_btn">
                <a href="/logout">logout</a>
            </div>

            <div class="user_info" onclick="document.location.href='/users/{{ user.username }}'">
                <div class="user_pic" style="background-image: url('{{ STATIC_URL }}img/{{ user.username }}.jpg');">&nbsp</div>
                <div class="user_name">{{ user.username }}</div>
                <!--<div class="user-rating"></div>-->
            </div>
            {% else %}
            <div id="login_btn">
                <a href="/login">login / registration</a>
            </div>

            {% endif %}

            <div class="search-header">
                <form id="search-form-header" method="GET">
                    <div class="input-group">
                        <input id="search-query-header" type="text" class="form-control" placeholder="Search...">
                    </div>
                </form>
            </div>

        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="darking-thing">&nbsp;</div>
        <div class="ask-modal">
            <form id="ask-form" class="form-horizontal" method="POST">
                <header>
                    <span>Ask the question</span>
                    <div class="modal-close-button glyphicon glyphicon-remove-circle"></div>
                </header>
                <section>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-10">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_contents" class="col-lg-2 control-label">Contents</label>
                        <div class="col-lg-10">
                            {{ form.contents }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="allTags" class="col-lg-2 control-label">Tags</label>
                        <div class="col-lg-10">
                            <ul id="allTags"></ul>
                            {{ form.tags }}
                        </div>

                    </div>
                </section>
                <footer>
                    <div class="form-group ask-buttons">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-success">Ask</button>
                    </div>
                </footer>
            </form>
        </div>

        <script>
            $(document).ready(function() {
                $("#allTags").tagit({
                    autocomplete: {delay: 0,
                                   minLength: 2,
                                   source: [{% for tag in all_tags %} "{{ tag.tagname }}", {% endfor %}]},
                    caseSensitive: false,
                    allowSpaces: true,
                    tagLimit: 3,
                    singleField: true,
                    singleFieldNode: document.getElementById('id_tags'),
                    placeholderText: "Enter 0 to 3 tags...",
                    removeConfirmation: true

                });
            });
        </script>
    </body>

</html>