<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} {{ extra_title }}</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/answers.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/tag-it/jquery.tagit.css" %}" />
        {% if request.path == '/logout/' or request.path == '/login/' %}
            <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
        {% endif %}
        {% if request.path == '/signup/' %}
            <link rel="stylesheet" type="text/css" href="{% static "css/register.css" %}" />
        {% endif %}
        {% if '/users/' in request.path  %}
            <link rel="stylesheet" type="text/css" href="{% static "css/users.css" %}" />
        {% endif %}
        <script type="text/javascript" src="{% static "js/jquery-2.0.3.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/tag-it.js" %}"></script>
        <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

        <meta content="text/html" >

        {% if request.path == '/logout/' %}
            <meta http-equiv="refresh" content="1; url=/">
        {% endif %}


    </head>

    <body>

        <header id="page_header">
            <div id="page_title">
                <a href="#">Ask igorcoding!</a>
            </div>

            <nav>
                <ul>
                    <li><a href="/">Questions</a></li>
                    <li><a href="/answers/">Answers</a></li>
                    <li><a href="/users/">Users</a></li>
                </ul>
            </nav>

            {% if user.is_authenticated %}
            <div id="logout_btn">
                <a href="/logout">logout</a>
            </div>

            <div class="user_info" onclick="document.location.href='/users/{{ user.username }}'">
                <div class="user_pic" style="background-image: url('{{ STATIC_URL }}img/{{ user.username }}.jpg');">&nbsp</div>
                <div class="user_name">{{ user.username }}</div>
                <!--<div class="user-rating"></div>-->
            </div>
            {% else %}
            <div id="login_btn">
                <a href="/login?next={{ request.get_full_path }}">login </a>/
                <a href="/signup?next={{ request.get_full_path }}">registration</a>
            </div>

            {% endif %}

            <div class="search-header">
                <form id="search-form-header" method="GET">
                    <div class="input-group">
                        <input id="search-query-header" type="text" class="form-control" placeholder="Search...">
                    </div>
                </form>
            </div>

        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="darking-thing">&nbsp;</div>
        <div class="my-modal"></div>

        <div class="ask-modal my-modal">
            <form id="ask-form" class="form-horizontal" method="POST">
                <fieldset>
                    <header>
                        <span>Ask the question</span>
                        <div class="modal-close-button glyphicon glyphicon-remove-circle"></div>
                    </header>
                    <section>
                        {% csrf_token %}

                        <div class="ask_form_error_message">
                            {% if ask_form.title.errors or ask_form.contents.errors %}
                                Some fields are required.
                            {% endif %}
                        </div>

                        {% if ask_form.title.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                            <label for="id_title" class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                {{ ask_form.title }}
                            </div>
                        </div>
                        {% if ask_form.contents.errors %}
                        <div class="form-group has-error">
                        {% else %}
                        <div class="form-group">
                        {% endif %}
                            <label for="id_contents" class="col-lg-2 control-label">Contents</label>
                            <div class="col-lg-10">
                                {{ ask_form.contents }}
                            </div>
                        </div>
                        {% if ask_form.tags.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                            <label for="allTags" class="col-lg-2 control-label">Tags</label>
                            <div class="col-lg-10">
                                <ul id="allTags"></ul>
                                {{ ask_form.tags }}
                            </div>

                        </div>
                    </section>
                    <footer>
                        <input type="hidden" name="form_type" value="ask">
                        <div class="form-group ask-buttons">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-success">Ask</button>
                        </div>
                    </footer>
                </fieldset>
            </form>
        </div>

        <script>
            $(document).ready(function() {
                $("#allTags").tagit({
                    autocomplete: {delay: 0,
                                   minLength: 2,
                                   source: [{% for tag in all_tags %} "{{ tag.tagname }}", {% endfor %}]},
                    caseSensitive: false,
                    //allowSpaces: true,
                    tagLimit: 3,
                    singleField: true,
                    singleFieldNode: document.getElementById('id_tags'),
                    placeholderText: "Enter 0 to 3 tags...",
                    removeConfirmation: true

                });

                {% if askform_error %}
                    showModal($('.ask-modal'));
                {% endif %}
                {% if answerform_error %}
                    window.location += '#answer_form';
                {% endif %}

                {% if not user.is_authenticated %}
                    $('#ask-form fieldset').attr('disabled', '');
                    $('#ask-form fieldset .ask_form_error_message').text('You have to be logged in to ask a question');
                    $('#answer_form fieldset').attr('disabled', '');
                    $('#answer_form fieldset #id_contents').attr('placeholder', "You have to be logged in to leave an answer");
                {% endif %}
            });



        </script>
    </body>

</html>