{% extends "default.html" %}
{% block content %}

    <div id="feed">
        {% if required_page == "questions" %}
            {% include "questions.html" %}
        {% elif required_page == "answers" %}
            {% include "answers.html" %}
        {% elif required_page == "users" %}
            {% include "users.html" %}
        {% elif required_page == "question" %}
            {% include "question.html" %}
        {% elif required_page == "user" %}
            {% include "user.html" %}
        {% endif %}

    </div>

    {% include "sidebar.html" %}

{% endblock %}