{% extends "default.html" %}
{% block content %}

    <div id="feed">
        {% if required_content == "questions" %}
            {% include "questions.html" %}
        {% elif required_content == "answers" %}
            {% include "answers.html" %}
        {% elif required_content == "users" %}
            {% include "users.html" %}
        {% elif required_content == "question" %}
            {% include "question.html" %}
        {% elif required_content == "user" %}
            {% include "user.html" %}
        {% endif %}

    </div>

    {% include "sidebar.html" %}

{% endblock %}