{% if required_page != "user" %}
    <header id="feed-header">
        <ul id="feed-nav" class="nav nav-tabs">
            {% if tab == 'new' %}
                <li class="active"><a href="/{{ required_page }}/new">New</a></li>
                <li><a href="/{{ required_page }}/popular">Popular</a></li>
            {% elif tab == 'popular' %}
                <li><a href="/{{ required_page }}/new">New</a></li>
                <li class="active"><a href="/{{ required_page }}/popular">Popular</a></li>
            {% endif %}
            {% if tab == 'questions' %}
                <li class="active"><a href="{{ base_url }}/questions?query={{ query }}">Questions</a></li>
                <li><a href="{{ base_url }}/answers?query={{ query }}">Answers</a></li>
            {% elif tab == 'answers' %}
                <li><a href="{{ base_url }}/questions?query={{ query }}">Questions</a></li>
                <li class="active"><a href="{{ base_url }}/answers?query={{ query }}">Answers</a></li>
            {% endif %}
        </ul>
    </header>
{% endif %}