<header id="feed-header" style="margin-top:42px;">
    <div class="question-title qtitle">
        {{ q.title }}
    </div>
    <section class="question disable-hover content-block" data-id="{{ q.id }}" >
        <div class="side-info">
            <div class="counter">
                <div class="rating">{{ q.rating }}</div>
                <div class="rating-buttons">
                    <a href="#"><div class="glyphicon glyphicon-chevron-up rating-button up-button"></div></a>
                    <a href="#"><div class="glyphicon glyphicon-chevron-down rating-button down-button"></div></a>
                </div>
            </div>
        </div>

        <div class="question-info">
            <div class="question-contents">
                {{ q.contents | linebreaks }}
            </div>

            {% if q.tag.all %}
            <div class="tags-section">
                <i class="glyphicon glyphicon-tags"></i>
                <div class="tags">
                    {% for tag in q.tag.all %}
                        <span class="tag" onclick="document.location.href='/tag/{{ tag.tagname }}'">{{ tag.tagname }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="author-section">
                <div class="post-time">{{ q.creation_date }}</div>
                <div class="user-name">by <a href="/users/{{ q.author.username }}">{{ q.author }}</a></div>
            </div>
        </div>
        <div id="ans" class="answers-title" >Answers ({{ answers.count }}):</div>
    </section>
</header>
<div id="answers">
    {% for answer in answers %}
        <section class="answer content-block" data-id="{{ answer.id }}" id="answer_{{ answer.id }}">
            <div class="side-info">
                <div class="counter">
                    <div class="rating">{{ answer.rating }}</div>
                    <div class="rating-buttons">
                        <a href="#"><div class="glyphicon glyphicon-chevron-up rating-button up-button"></div></a>
                        <a href="#"><div class="glyphicon glyphicon-chevron-down rating-button down-button"></div></a>
                    </div>
                </div>
                {% if q.author == user %}
                <div class="correctness {% if answer.correct %} correct {% endif %} clickable"></div>
                {% endif %}
            </div>

            <div class="answer-info">
                <div class="answer-contents">
                    {{ answer.contents | linebreaks }}
                </div>

                <div class="author-section">
                    <div class="post-time">{{ answer.date }}</div>
                    <div class="user-name">by <a href="/users/{{ answer.author.username }}">{{ answer.author }}</a></div>
                </div>
            </div>
        </section>
    {% endfor %}


    <div id="answer_form" class="answer-form-block">
        <header>Your answer:</header>
        <form class="form-horizontal" method="POST">
            <fieldset>
                <section>
                    {% csrf_token %}
                    {% if answer_form.title.errors %}
                        Contents is required.
                    {% endif %}
                    {% if answer_form.contents.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <!--<label for="id_contents" class="col-lg-2 control-label sr-only">Contents</label>-->
                        <div class="col-lg-10">
                            {{ answer_form.contents }}
                        </div>
                    </div>
                </section>
                <footer>
                    <input type="hidden" name="form_type" value="answer">
                    <div class="form-group col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-success">Answer</button>
                    </div>
                </footer>
            </fieldset>
        </form>
    </div>

    {% include "paginator.html" %}
</div>

