{% include "new_popular_tabs.html" %}

<div id="questions">
    {% for question in res %}
        <section class="question content-block" data-id="{{ question.id }}">
            <div class="side-info">
                <div class="counter">
                    <div class="rating">{{ question.rating }}</div>
                    <div class="rating-buttons">
                        <a href="#"><div class="glyphicon glyphicon-chevron-up rating-button up-button"></div></a>
                        <a href="#"><div class="glyphicon glyphicon-chevron-down rating-button down-button"></div></a>
                    </div>
                </div>
            </div>

            <div class="question-info">
                <div class="question-title">
                    <a href="/question?q={{ question.id }}">{{ question.title }}</a>
                </div>
                <div class="actions-menu">
                    <ul>
                        <li><a href="/question?q={{ question.id }}#ans">Read answers ({{ question.answer_set.count }})</a></li>
                        <li><a href="/question?q={{ question.id }}#answer">Answer</a></li>
                    </ul>
                </div>
                <div class="tags-section">
                    <i class="glyphicon glyphicon-tags"></i>
                    <div class="tags">
                        {% for tag in question.tag.all %}
                            <span class="tag">{{ tag.tagname }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="author-section">
                    <div class="post-time">{{ question.creation_date }}</div>
                    <div class="user-name">by <a href="/users/{{ question.author.username }}">{{ question.author }}</a></div>
                </div>
            </div>
        </section>
    {% endfor %}

    {% if required_page == "user" %}
        <footer id="paginator" class="text-center">
            <ul class="pagination">
                <li class=""><a href="/{{ tab }}&page=1">&laquo;</a></li>
                {% for pagenum in pages %}
                    <li class="{% if pagenum == current_page %}active{% endif %}"><a href="/{{ tab }}&page={{ pagenum }}">{{ pagenum }} <span class="sr-only"></span></a></li>
                {% endfor %}
                <li class=""><a href="/{{ tab }}&page={{ pages_count }}">&raquo;</a></li>
            </ul>
        </footer>
    {% else %}
        <footer id="paginator" class="text-center">
            <ul class="pagination">
                <li class=""><a href="/{{ required_page }}/{{ tab }}/?page=1">&laquo;</a></li>
                {% for pagenum in pages %}
                    <li class="{% if pagenum == current_page %}active{% endif %}"><a href="/{{ required_page }}/{{ tab }}/?page={{ pagenum }}">{{ pagenum }} <span class="sr-only"></span></a></li>
                {% endfor %}
                <li class=""><a href="/{{ required_page }}/{{ tab }}/?page={{ pages_count }}">&raquo;</a></li>
            </ul>
        </footer>
    {% endif %}
</div>