{% if show_title %}
    <div class="res-title">
        {{ title }}
        {% if search_tag %}
            <span class="tag" onclick="document.location.href='/tag/{{ search_tag.tagname }}'">{{ search_tag.tagname }}</span>
        {% else %}
            {{ extra_title }}
        {% endif %}

    </div>
{% endif %}

{% include "new_popular_tabs.html" %}

<div id="questions">
    {% if search and not res %}
        <div class="nothing_found_msg">Nothing found on this query. Try again.</div>
    {% else %}

    {% if not res %}
        <div class="nothing_found_msg">Nothing here yet.</div>
    {% endif %}

    <section class="questions-refresher content-block hidden-block">
        <div class="new-questions-block">
            <i class="glyphicon glyphicon-refresh questions-refresh"></i>
            <div class="new-questions-msg">New Questions Arrived (<span id="new-questions-count">7</span>)
            </div>
        </div>
    </section>
    {% for question in res %}
        {% include "question_tile.html" %}
    {% endfor %}


    {% if res %}
    {% include "paginator.html" %}
    {% endif %}

    {% endif %}
</div>