<header id="feed-header">
    <ul id="feed-nav" class="nav nav-tabs">
        {% if tab == 'date' %}
            <li class="active"><a href="/users?order=date">By date joined</a></li>
            <li><a href="/users?order=rating">By rating</a></li>
            <li><a href="/users?order=username">By username</a></li>
            <li><a href="/users?order=name">By name</a></li>
        {% elif tab == 'rating' %}
            <li><a href="/users?order=date">By date joined</a></li>
            <li class="active"><a href="/users?order=rating">By rating</a></li>
            <li><a href="/users?order=username">By username</a></li>
            <li><a href="/users?order=name">By name</a></li>
        {% elif tab == 'username' %}
            <li><a href="/users?order=date">By date joined</a></li>
            <li><a href="/users?order=rating">By rating</a></li>
            <li class="active"><a href="/users?order=username">By username</a></li>
            <li><a href="/users?order=name">By name</a></li>
        {% elif tab == 'name' %}
            <li><a href="/users?order=date">By date joined</a></li>
            <li><a href="/users?order=rating">By rating</a></li>
            <li><a href="/users?order=username">By username</a></li>
            <li class="active"><a href="/users?order=name">By name</a></li>
        {% endif %}
    </ul>
</header>

<div id="users">
    {% for user_info in res %}
        <section class="user-tile content-block" data-id="{{ user_info.id }}">
            <div class="side-info">
                <div class="counter">
                    <div class="rating">{{ user_info.userprofile.rating }}</div>
                </div>
            </div>

            <div class="user-info">
                <div class="user_pic user_info-userpic"  style="background-image: url('{{ MEDIA_URL }}{{ user_info.username }}.jpg');">&nbsp</div>
                <section>
                    <div class="user_info-title">
                        <a href="/users/{{ user_info.username }}">{{ user_info.first_name }} {{ user_info.last_name }} ({{ user_info.username }})</a>
                    </div>

                    <div class="user_info-section">
                        <div class="user_info-field"><span class="user_info-field_name">Joined: </span>{{ user_info.date_joined }}</div>
                        <div class="user_info-field"><span class="user_info-field_name">Last login: </span>{{ user_info.last_login }}</div>
                    </div>
                </section>
            </div>
        </section>
    {% endfor %}

    {% include "paginator.html" %}
</div>