<section id="user_info">
    {% load staticfiles %}
    <div class="user_pic large" style="background-image: url('{{ MEDIA_URL }}{{ show_user.username }}.jpg');">&nbsp</div>

    <div class="fields">
        <div class="name">{{ show_user.first_name }} {{ show_user.last_name }} ({{ show_user.username }})</div>
        <div class="field-value"><span class="field-name">E-mail:</span> {{ show_user.email }}</div>
        <div class="field-value"><span class="field-name">Joined:</span> {{ show_user.date_joined }}</div>
        <div class="field-value"><span class="field-name">Last login:</span> {{ show_user.last_login }}</div>
    </div>
</section>
<header id="feed-header">
    <ul id="user-feed-nav" class="nav nav-tabs">
        {% if tab == 'questions' %}
            <li class="active" data-tab="questions"><a href="/users/{{ show_user.username }}/questions">Asked Questions</a></li>
            <li data-tab="answers"><a href="/users/{{ show_user.username }}/answers">Answers</a></li>
        {% elif tab == 'answers' %}
            <li data-tab="questions"><a href="/users/{{ show_user.username }}/questions" >Asked Questions</a></li>
            <li class="active" data-tab="answers"><a href="/users/{{ show_user.username }}/answers">Answers</a></li>
        {% endif %}
    </ul>

</header>
{% if tab == 'questions' %}
    {% include "questions.html" %}
{% elif tab == 'answers' %}
    {% include "answers.html" %}
{% endif %}